html{
 font-family: Arial, Helvetica, sans-serif;  
   
}
/*-- Nav Bar --*/
nav{
    
}
nav li{
    display: inline;
    position: absolute;
    right: auto;
}
nav a{
    padding: 8px;
    margin: 4px;
    color: white;
    background-color: #f40000;
    border-style: outset;
    border-radius: 8px;
    text-decoration: none;
}

nav a:hover,
nav a:active{
    border-style: inset;
    background-color: #F44E3F;
    position: relative;
    left: 2px;
    top: 2px;
}


/* -- Mission Statment --*/
.mission{
    text-align: center;
    margin: auto;
}

.mission h1{
 font-weight: bold;
 margin-top: 20px;
 margin-bottom: 10px;
}
.mission p{
 font-style: italic;
 margin-bottom: 20px;  
}

footer{
    background-color: #d0ccd0;
}